<!DOCTYPE html>
<html>
	<title>Cms</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<body id="store" >
		<div id="warp" >
					<div id="side" >
						
							<div id="comment">
					<% if @comment %>
				
				
				
					<%= render @comment%>
					<% end %>
					
					</div>
					
       		<div id="banner" >
       			<h1>Book Stor</h1>
					<div id="banner header"><%= image_tag("header.jpg") %>
						
					
						<div id="menu">
							<ul>
        <li><a href="#">home</a></li>
        <li><a href="#">product</a></li>
        <li><a href="http://www.ruby-doc.org/docs/Tutorial/">about Us</a></li>
        <li><a href="http://www.readingfanatic.com/index.jhtml?partner=^AIC^xdm007&gclid=CLG1-vCW47ICFUXHtAoddxIAmQ">book shop</a></li>
        <li><a href="http://books.google.com/">google books</a></li>
    </ul>
    </div> 
	
    </div>	
    </div>
    
			<div id="main" >
				<%= yield %>
			

		</div>
		</div>

	</body>
</html>
